<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <br><br> <h4>Sistema de Gerenciamento de Doações: Cooperative</h4>
            <form role="form">
                <div class="form-content">

                    <!--Componentes do formulário: [Usuário] -->
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Usuário">
                    </div>
                    <!--Componentes do formulário: [Senha] -->
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Senha">
                        
                    </div>
                    <!--Componentes do formulário: [Link para solução de acesso] -->
                    <div class="form-group">
                        <a href="#">Esqueceu sua senha?</a>
                    </div>

                    <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Acessar </a>
                
                </div>
                <!--&nbsp;-->
                
            </form>
        </div>
    </div>
</div>
